@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-departure: var(--font-departure-mono);
	--font-orbit: var(--font-orbit);
	--font-dot-gothic-16: var(--font-dot-gothic-16);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-state-focus: var(--state-focus);
	--color-state-break-short: var(--state-break-short);
	--color-state-break-long: var(--state-break-long);
	--color-state-ready: var(--state-ready);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.625rem;
	--background: oklch(0.95 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(0.95 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(0.95 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.9 0 0);
	--secondary: oklch(0.92 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.92 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.92 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.8 0 0);
	--input: oklch(0.8 0 0);
	--ring: oklch(0.608 0 0);
	--state-focus: oklch(0.998 0.337 25.331);
	--state-break-short: oklch(0.823 0.314 259.815);
	--state-break-long: oklch(0.623 0.29 149.579);
	--state-ready: var(--color-foreground);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--state-focus: oklch(0.998 0.137 25.331);
	--state-break-short: oklch(0.923 0.214 259.815);
	--state-break-long: oklch(0.923 0.19 149.579);
	--state-ready: var(--color-foreground);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@theme {
	--animate-fade-in: fade-in 0.5s ease-in-out;
	--font-ja: var(--font-dot-gothic-16), "Helvetica Neue", Arial,
		"Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	--font-en: var(--font-departure-mono), "Helvetica Neue", Arial,
		"Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	--font-ko: var(--font-orbit), "Helvetica Neue", Arial,
		"Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

::view-transition-old(cross-fade) {
	animation: fadeOut 0.4s var(--easing-ease-in-out-circ) forwards;
}
