@property --angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

.progressCircle {
	width: 140px;
	height: 140px;
	box-sizing: border-box;
	border: 1px solid var(--color-foreground);
	border-radius: 50%;
	opacity: 0.8;
	background-image: conic-gradient(
		var(--color-foreground) 0%,
		var(--color-foreground) var(--angle),
		var(--color-background) calc(var(--angle))
	);
	position: relative;
}

.progressCircle::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 125%;
	height: 125%;
	border-radius: 50%;
	/* background-color: var(--color-background); */
	box-shadow: inset 0px 0px 1px 1px var(--color-foreground);
	opacity: 0.7;
}

.triangleUp {
	position: absolute;
	top: -12px;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 12px; /* 幅 */
	height: 12px; /* 高さ */
	background-color: var(--color-muted-foreground); /* 背景色 */
	/* clip-pathで三角形に切り抜く */
	clip-path: polygon(
		0% 0%,
		/* 左上の頂点 */ 100% 0%,
		/* 右上の頂点 */ 50% 100% /* 下の頂点 (中央下) */
	);
}
.triangleDown {
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 12px; /* 幅 */
	height: 12px; /* 高さ */
	background-color: var(--color-muted-foreground); /* 背景色 */
	/* clip-pathで三角形に切り抜く */
	clip-path: polygon(
		50% 0%,
		/* 上の頂点 (中央上) */ 0% 100%,
		/* 左下の頂点 */ 100% 100% /* 右下の頂点 */
	);
}
